.site-map {
  align-items: center;
  color: aliceblue;
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-icons {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}